
<% layout("./layouts/boilerplate.ejs") %>

<div class="container col-md-5 mt-5">
    <div class="card shadow p-4">
        <h2 class="text-center mb-4">Login</h2>

        <form action="/login" method="POST">

            <div class="mb-3">
                <label for="username" class="form-label">
                    Username
                </label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    required
                >
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">
                    Password
                </label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                >
            </div>

            <button type="submit" class="btn btn-dark w-100">
                Login
            </button>

        </form>

        <p class="text-center mt-3">
            Don't have an account?
            <a href="/signup">Sign Up</a>
        </p>
    </div>
</div>
```
